

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enlaza dgt</title>
    <!-- Font Awesome -->
       <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href=""/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontRope.css" type="text/css" charset="utf-8" />

</head>

<body>
  <div class="container">
      {{#each errores}}
          <p>{{this}}</p>
      {{/each}}
      {{#each infos}}
          <p>{{this}}</p>
      {{/each}}

        {{{body}}}


    </div>

<!-- /Start your project here-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/vendor/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/vendor/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="/js/vendor/handlebars-v4.1.2.js"></script>
<script type="text/javascript" src="/js/vendor/mdb.min.js"></script>


<script>

</script>
</body>
</html>
