

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enlaza dgt</title>
    <link href="/css/vendor/bootstrap.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/fontRope.css" type="text/css" charset="utf-8">
    <link href="/css/vendor/select2.min.css" rel="stylesheet" />


    <!-- Bootstrap core CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/fontRope.css" type="text/css" charset="utf-8" />

    {{{_sections.head}}}

</head>

    <div class="container">

        {{#if flash}}
            <div class="alert alert-dismissible alert-danger">
                {{#each flash}}
                    <p>{{this}}</p>

                {{/each}}
            </div>
        {{/if}}


        {{{body}}}

        <hr>
        <footer>
            <p>OLT Fuerteventura</p>
        </footer>

    </div>

<!-- /Start your project here-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/js/vendor/umd/popper.js" ></script>
<script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
<script type="text/javascript" src="/js/vendor/d3.js"></script>


<script>
    $(document).ready(function() {$(".dropdown-toggle").dropdown()});
</script>

    {{{_sections.jquery}}}


</body>
</html>
