body {

 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
  padding-top: 70px;
  overflow:scroll;
}

.fixed {
  position: fixed;
  background: #fff;
  z-index: 10;
  width: 100%;
}


.modal-backdrop { opacity: 0 !important; }