


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enlaza dgt</title>
    <link href="/css/vendor/bootstrap.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/fontRope.css" type="text/css" charset="utf-8">
    <link href="/css/vendor/select2.min.css" rel="stylesheet" />


    <!-- Bootstrap core CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/fontRope.css" type="text/css" charset="utf-8" />

    {{{_sections.head}}}

</head>


<body>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</body>
</html>